<%- include('./partials/header.ejs') %>
    <h1>New Character Page</h1>
    <form action="/toons" method="POST">
       Name: <input type="text" name="name"><br/>
       Description: <input type="text" name="description"><br/>
       Img: <input type="text" name="img"><br/>
       Price: <input type="text" name="price"><br/>
       Qty: <input type="text" name="qty"><br/>
       <!-- Is Ready To Eat: <input type="checkbox" name="readyToEat"><br/> -->

       <input type="submit" value="Create Character">
    </form>  
<%- include('./partials/footer.ejs')%>