<%- include('./partials/header.ejs') %>
<div class="main">
    <div class="characterPage">
    <h1>New Character Page</h1>
    <form action="/toons" method="POST">
            Class: <input type="text" name="class" value="Choose Class"><br/>
           Name: <input type="text" name="name" value="Name Here"><br/>
           Description: <input type="text" name="description" value="Description Here"><br/>
           <select class="form-select" aria-label="Default select example">
            <option selected>Pick and Image From here or...</option>
            <option value="img/Female_Barbarian.png">Female Barbarian</option>
            <option value="img/Female_Bard.png">Female Bard</option>
            <option value="img/Female_Fighter.png">Female Fighter</option>
            <option value="img/Female_Paladin.jpeg">Female Paladin</option>
            <option value="img/Female_Ranger.jpeg">Female Ranger</option>
            <option value="img/Female_Rogue.jpeg">Female Rogue</option>
            <option value="img/Female_Sorcerer.jpeg">Female Sorcerer</option>
            <option value="img/Female_Warlock.jpeg">Female Warlock</option>
            <option value="img/Female_Wizard.jpeg">Female Wizard</option>
            <option value="img/Male_Barbarian.jpeg">Male Barbarian</option>
            <option value="img/Male_Bard.png">Male Bard</option>
            <option value="img/Male_Fighter.jpeg">Male Fighter</option>
            <option value="img/Male_Paladin.png">Male Paladin</option>
            <option value="img/Male_Ranger.jpeg">Male Ranger</option>
            <option value="img/Male_Rogue.webp">Male Rogue</option>
            <option value="img/Male_Sorcerer.jpeg">Male Sorcerer</option>
            <option value="img/Male_Warlock.png">Male Warlock</option>
            <option value="img/Male_Wizard.jpeg">Male Wizard</option>
          </select>
           Input custom Image: <input type="text" name="img" value="link to img here"><br/>
        <div>   
            <h2>Stats 0-20</h2>
            Strength: <input type="number" name="str" value="0"><br/>
            Dexterity: <input type="number" name="dex" value="0"><br/>
            Constitution: <input type="number" name="con" value="0"><br/>
            Intelligence: <input type="number" name="int" value="0"><br/>
            Wisdom: <input type="number" name="wis" value="0"><br/>
            Charisma: <input type="number" name="charm" value="0"><br/>
        </div>
           
        <br/>
    
           <input type="submit" value="Create Character">
        </form> 
    </form> 
    </div>
</div> 
<%- include('./partials/footer.ejs')%>